{% extends "hotelcheckin_register/base.html" %}
{% load crispy_forms_tags %}


{% block content %}
<form action="" method="post" autocomplete="off" enctype="multipart/form-data">
    {% csrf_token %}
    {{form.fullname|as_crispy_field}}
    {{form.contact|as_crispy_field}}
    <div class="row">
        <div class="col-md-4">
            {{form.email|as_crispy_field}}
        </div>
        <div class="col-md-8">
            {{form.gender|as_crispy_field}}
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            {{form.roomtype|as_crispy_field}}
        </div>
        <div class="col-md-8">
            {{form.checkstatus|as_crispy_field}}
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            {{form.age|as_crispy_field}}
        </div>
        <div class="col-md-8">
            {{form.date_of_join|as_crispy_field}}
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            {{form.income|as_crispy_field}}
        </div>
        <div class="col-md-8">
            {{form.hotelImg|as_crispy_field}}
        </div>
    </div>
    {{form.address|as_crispy_field}}
    <div class="row">
        <div class="col-md-8">
            <button type="submit" class="btn btn-success btn-block btn-lg"><i class="fas fa-database"></i>
                Submit</button>
        </div>
        <div class="col-md-4">
            <a href="{% url 'hotel_list' %}" class="btn btn-secondary btn-block btn-lg">
                <i class="fas fa-stream"></i> Back to list
            </a>
        </div>
    </div>

</form>
{% endblock content %}