<div class="play_head">
    <h1 id="user_welcome">Quiz</h1><hr id="play_hr">
</div>
<p id="fin">You have attempted all questions. <span>Thank you</span> for taking part; you will be intimated about the results on the Discord server itself.</p>